dash==1.12.0
dash-bootstrap-components==0.10.2
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
flask==1.1.2
flask-compress==1.5.0
gunicorn>=19.7.1
numpy==1.18.5
plotly==4.8.1
python==3.8.3
